html,
body {
  height: 100%;
}

body {
  
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);    
  background-size:auto;
  background-repeat: repeat; 
}

.navbar {
  min-height: 80px;
  color: black;
}

.table-width {
  width: 50vw;
}

.fixtures-header {
  border-bottom: 2px solid black;
  width: 30em;
  margin-left: 5%;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: 3em;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  width: 5em;
  outline: 0;
  padding: 0 0.25em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.fixture-title {
  color: black;
  font-weight: bolder;
  line-height: 3em;
  font-size: larger;
}

.fixture {
  display: flex;
  flex-direction: column;
}

.fixture-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5em;
  font-weight: bolder;
  color: #000;
  width: 20em;
}

.fixture-team {
  font-weight: 900;
}

.fixture-result1 {
  border: 1px solid black;
  background-color: white;
  width: 1.5em;
  text-align: center;
}

.fixture-result2 {
  border: 1px solid black;
  background-color: white;
  width: 1.5em;
  text-align: center;
}

.button-edit {
  font-weight: bolder;
  color: rgb(255, 208, 0);
  text-decoration: none;
  font-size: 0.8em;
}

.admin-edit-box {
  margin: auto;
  width: 12em;
  height: 2em;
  border: #000 dashed 2px;
  font-size: 3em;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-input-box {
  margin: auto 0.5em auto 0;
}

.profile-info {
  margin-left: 2em;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.3em;
  color: black;
  border-bottom: #000 dashed 3px;
  width: 30em;
  display: flex;
  flex-direction: row;
}

.mycolumn {
  float: left;
  width: 50%;
}

.myrow:after {
  content: "";
  display: table;
  clear: both;
}

.submitbtn {
  margin: auto;
  width: 12em;
  height: 2em;
  margin-top: 0.2em;
  font-size: 3em;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.admin-edit-fixture-title {
  margin: auto auto 0.4em auto;

  font-size: 3em;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comment-box {
  border-left: 2px dashed black;
  border-bottom: 2px dashed black;
  border-right: 2px dashed black;
  margin-right: 3.2em;
}

.comment-username {
  font-size: 1.2em;
  color: black;
  font-weight: 700;
  margin-left: 0.5em;
}

.comment-text {
  font-size: 1em;
  color: black;
  font-weight: 600;
  margin-left: 0.25em;
  padding-top: 0.25em;
  margin-left: 0.5em;
}

.button-comment {
  color: #000;
  background-color: unset;
  border: 0px;
  font-weight: 600;
}

.comment-edit-box {
  margin: auto;
  width: 40em;
  height: 10em;
  border: #000 dashed 2px;
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/*----------------------------------------------------------------------------------------------------------------*/
.login-box-container{
  border: rgb(57, 57, 57) 5px solid;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  text-align: center;
 
}



.input-field-username input { 
  height: 3rem;
  width: 55%;
  margin-top: 2rem;
}

.input-field-pass input {
  height: 3rem;
  width: 55%;
  margin-top: 2rem;
}

form input[type="submit"] {
 
  border-radius: 4px;
  text-align: center;
  margin-top: 2rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: 900;
 
}



.active-link{
  font-size: 2rem;
  color: cyan;

}
